@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply text-5xl;
	}

	h2 {
		@apply text-4xl;
	}

	h3 {
		@apply text-3xl;
	}

	h4 {
		@apply text-2xl;
	}

	h5 {
		@apply text-xl;
	}

	h6 {
		@apply text-lg;
	}
}

.navlink-active .navlink-icon {
	@apply text-blue-400;
}

.navlink-active .navlink-text {
	@apply text-gray-900;
}

.z-1005 {
	z-index: 1005;
}

.z-1055 {
	z-index: 1055;
}

.outline-0 {
	outline: 0;
}

.max-h-150 {
	max-height: 37.5rem;
}

.h-180 {
	height: 45rem;
}

.\-mt-180 {
	margin-top: -45rem;
}
